# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key = "AIzaSyAy1iW5EDnCZLcK5_i4CYX2OG65i18gpXk"

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("../WeatherPy/cities.csv")

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
cities = cities_df[["Lat", "Lon"]]

# Fill NaN values and convert to float
humidity = cities_df["Humidity"]

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(cities, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
#ideal weather = cloudiness == 0 & Temperature over 70 and less than 80
ideal_weather_df= cities_df.loc[(cities_df["Cloudiness"]== 0)&(cities_df["Temp Max"]>= 70)&(cities_df["Temp Max"]<= 80)&(cities_df["WindSpeed"]< 10)]

ideal_weather= ideal_weather_df.dropna()

ideal_weather

,Unnamed: 0,City,Lat,Lon,Temp Max,Cloudiness,Country,Date,Humidity,WindSpeed
138,138,vitre,48.12,-1.21,75.20,0,FR,1586539353,31,4.70
228,228,terni,42.68,12.32,71.01,0,IT,1586539363,45,8.05
310,310,ternate,0.80,127.40,79.38,0,ID,1586539046,83,4.88
321,321,tura,25.52,90.22,73.81,0,IN,1586539375,35,4.54
450,450,santiago del estero,-27.80,-64.26,76.46,0,AR,1586539391,37,8.46
489,489,bell ville,-32.63,-62.69,73.99,0,AR,1586539396,42,4.00
499,499,pompeia,-22.11,-50.17,77.50,0,BR,1586539398,46,4.05
548,548,port hedland,-20.32,118.57,75.20,0,AU,1586539404,88,5.82

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
hotel_df= ideal_weather[["City", "Country", "Lat", "Lon"]].copy()

hotel_df["Hotel Name"]=""
hotel_df.head()

                    City Country    Lat     Lon Hotel Name
138                vitre      FR  48.12   -1.21
228                terni      IT  42.68   12.32
310              ternate      ID   0.80  127.40
321                 tura      IN  25.52   90.22
450  santiago del estero      AR -27.80  -64.26

In [15]:
hotels=[]
params = {"radius": 5000,
    "types": "lodging",
    "key":g_key
}
for index,row in ideal_weather.iterrows():
    lat= row["Lat"]
    lng= row["Lon"]
    params["location"] = f"{lat},{lng}"
    base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address= requests.get(base_url, params= params).json()
    try:
        hotel_df.loc[index, "Hotel Name"]= name_address["results"][0]["name"]
    except IndexError:
        print(f"No Hotel")
hotel_df

,City,Country,Lat,Lon,Hotel Name
138,vitre,FR,48.12,-1.21,ibis Vitré Centre
228,terni,IT,42.68,12.32,La Tenuta dei Ciclamini • Relais Nature
310,ternate,ID,0.80,127.40,Grand Dafam Bela Ternate
321,tura,IN,25.52,90.22,Hotel RIKMAN Continental
450,santiago del estero,AR,-27.80,-64.26,Hotel Urbano
489,bell ville,AR,-32.63,-62.69,Hotel Central
499,pompeia,BR,-22.11,-50.17,Hotel Pousada Vale do Sol
548,port hedland,AU,-20.32,118.57,The Esplanade Hotel

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [21]:
# Add marker layer ontop of heat map

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)
                                 
# Add layer
fig.add_layer(marker_layer)

# Display figure
fig


# Display Map

Figure(layout=FigureLayout(height='420px'))